*{
    box-sizing: border-box;
}



body{
   margin: 0;

}

h2{ font-size: 2.7em;}
ul{list-style: none;}
li{font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
} 

#carateristicas .container{
    text-align: center;

}

#caratersiticas li{
    margin: 16px 0px; 
    font-weight: bold;
}

#somos-proya .container{
    justify-content: center;
}

#somos-proya .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos-proya .img-container{
    background-size: cover;
    background-position: center center;
    height: 700px;
    width: 200px;
}

#carateristicas .container{
   text-align: initial;
}
#carateristicas ul{
    margin-left: 100px;
}

#carateristicas img{
    height: 400px;
    width: 400px;
}

@media(min-width: 1200px){
    #carateristicas{
        background-position-x: calc(100vw - 800px);
    }
}

