@import url('menu.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Fomr */
 .form{
    background-color: #FDE4CF;
}

div.form-register {
    width: 400px;
    margin-top: auto;
    padding: 30px;
    background: #FFCFD2;
    margin: auto;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
   
}
div.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    color: goldenrod;
}

.controls {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 1px solid #FFCFD2;
    color: #ff5d02;

}
.botons{
     width: 30%;
     background-color: #FFCFD2;
     border-radius: 6px;
     padding: 8px;
     box-shadow: 3px 6px 15px #000;
     cursor: pointer;
     transition: all 0.5s;
}
.botons:hover{
    background: rgba(255, 255, 255, 0.3);
}

/* .t{
  border-left: 5px solid #ff5d02;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: 30px;
  top: 20px;
} */

/* end form  */

.container{
    display: grid;
   text-align: center;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,70px);
    /*column-gap: 10px;
    row-gap: 10px;*/


 
}

.item:nth-child(1){
    background-color: #90DBFA;
    
    border-radius: 10px 0 0 0;
    grid-column: 1/5;
    grid-row: 1/5;
}

.item:nth-child(1) img{
    display: flexbox;
    width: 400px;
    height: 300px;
    margin-top: 10px;
    border-radius: 10px 0 0 0;
}
.item:nth-child(2){
    background-color:#8EECF5(112, 103, 103) ;
    border-radius: 0 10px  0 0;
    grid-column: 5/9;
    grid-row: 1/5;
}
.item:nth-child(3){
    background-color:#90DBFA(88, 13, 13) ;
    border-radius:  0 0 0 10px;
    grid-column: 1/5;
    grid-row: 5/9;
}
.item:nth-child(4){
    background-color:#8EECF5 ;
    border-radius:  0 0 10px 0 ;
    grid-column: 5/9;
    grid-row: 5/9;
}
.item:nth-child(5) img{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 10px  ;
    opacity: 0.8;
    grid-column: 1/7;
    grid-row: 1/9;
}

/* footer  */

.footer{
    padding: 40px;
    background-color: #FFCFD2;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 24px;
    color: indianred;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    margin: 0 8px;
    
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;

}

.footer ul a{
   
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
}
/* end footer  */