* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    /* background: -webkit-linear-gradient(to right, #FFCFD2, #FDE4CF); */
	background: linear-gradient(to right, #FFCFD2, #FDE4CF);
    color: black;
    /* position: fixed; */
    top: 0%;
    left: 0%;
    z-index: 100;
}

.contenedor1{
    width: 98%;
    margin: auto;
}

h1{

    float: left;
    font-family: cursive;
}
section{
    width: 100%;
    margin-bottom: 25px;
}

header .contenedor1{
    display: table;
}

.logo-contenedor1{
  float: left;
}

/* menu  */
#menu-bar{
    display: none;
 
    
}
header label{
   float: right;
   font-size: 28px;
   margin: 6px 0;
   cursor: pointer;
}

.menu{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(to right, #FFCFD2, #FDE4CF);
	background: linear-gradient(to right, #FFCFD2, #FDE4CF);
    
    /* background-color: rgba(51,51,51,0.9); */
    transform: all 0.5s;
    transform: translate(-100%);
}

@media (min-width:1024px){
  .menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }

  .menu a{
    border: none;
  }

  header label{
    display: none;
  }
}

.menu a{
    display: block;
    color: goldenrod;
    height: 70px;
    text-decoration: none;
    padding: 20px;
     border-bottom: 1px solid rgba(255, 255,255,0.5);
}

.menu a:hover {
    background-color: rgba(51,51,51,0.3);
}


#menu-bar:checked ~ .menu{
    transform: translate(0%);
}

.logo-contenedor1 img{
      width: 200px;
      margin-top: -72px;
}

.contenedor #menu-bar{
    margin-top: -100px;
}

/* galeria  */

.conten{
    margin-top: 70px;
    width: 100%;
    background-color: #FDE4CF;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.conten-children{
    width: 30%;
    height: 250px;
    margin: 10px;
    border: 2px solid white;
    box-shadow: 0 0 0 20px #ddd;
    position: relative;
    overflow: hidden;
}

.conten-children img{
    width: 100%;
    height: 100%;
}

.efecto{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0143, 255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.efecto h1{
    margin: 10px;
    padding: 10px;
    color: #ddd;
   
}

.lefth{
   left: -100%;
   transition: all .3s;
}

.conten-children:hover .lefth{
    left: 0;
    transition: all .3s;
}

.rigth{
    right: -100%;
    transition: all .3s;
 }
 
 .conten-children:hover .rigth{
     right: 0;
     transition: all .3s;
 }

 .higth{
    top: -100%;
    transition: all .3s;
 }
 
 .conten-children:hover .higth{
     top: 0;
     transition: all .3s;
 }

 .down{
    top: 100%;
    transition: all .3s;
 }
 
 .conten-children:hover .down{
     top: 0;
     transition: all .3s;
 }

 /* end galeria  */


  /* video */
 .main{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: block;
 }

 h1{
    text-align: center;
 }

 video{
    width: 400px;
    height: 400px;
 }

 .main video{

 }




