



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background: -webkit-linear-gradient(to right, #90DBF4, #98F5E1);
	background: linear-gradient(to right, #90DBF4, #98F5E1);
    color: black;

    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{

    float: left;
    font-family: cursive;
}
section{
    width: 100%;
    margin-bottom: 25px;
}

header .contenedor{
    display: table;
}

/* menu  */
#menu-bar{
    display: none;
}
header label{
   float: right;
   font-size: 28px;
   margin: 6px 0;
   cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #98F5E1;
    
    /* background-color: rgba(51,51,51,0.9); */
    transform: all 0.5s;
    transform: translate(-100%);
}

@media (min-width:1024px){
  .menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }

  .menu a{
    border: none;
  }

  header label{
    display: none;
  }
}

.menu a{
    display: block;
    color: blue;
    height: 70px;
    text-decoration: none;
    padding: 20px;
     border-bottom: 1px solid rgba(255, 255,255,0.5);
}

.menu a:hover {
    background-color: rgba(51,51,51,0.3);
}

#menu-bar:checked ~ .menu{
    transform: translate(0%);
}

/* end menu  */


/* banner  */

#banner{
    margin-top: 20px;
    position: relative;
}

#banner img{
    width: 100%;
    height: 20%;
    border-radius: 4px;
}

#banner .contenedor{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
}

#banner h2{
    font-size: 28px;
}
@media (min-width:480px){
      #banner h2 {
        font-size: 40px;
      }
      #banner a {
        margin-top: 25px;
      }
      @media (min-width:768px){
        #banner {
          height: 600px;
          overflow: hidden;
        }
      }

      #banner img{
        height: auto;
        margin-top: -50px;
        
      }
      
}

@media (min-width:1024px) {
   #banner img{
    margin-top: -200px;
   }
}

/* papel  */
#papeleria{
    text-align: center;
}

#papel2 h3{
    text-align: center;
}

#papel .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

#papel article{
    margin: 15px;
}

#papel img{
    width: 100%;
    max-width: 280px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3 ease-in-out;
    object-fit: cover;
}

#papel img:hover{
  opacity: .85;
}


/* papel2  */

#papel2{

  background: -webkit-linear-gradient(to right, #90DBF4, #e7d4c5);
	background: linear-gradient(to right, #90DBF4, #98F5E1);
    color: black;
}

#papel2 .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.info-pa{
    margin: 20px;
}

.info-pa img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #B9FBC0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3 ease-in-out;
}

.info-pa img:hover{
  opacity: .85;
}

/* footer  */
.site-footer {
    position: relative;
    z-index: 19;
    padding: 100px 0 40px 0;
    margin-top: -70px;
    
  }
  .site-footer{
    background-color: #98F5E1;
  }

  .site-footer .container{
    background-color: #98F5E1;
    color: pink;
  } 
  .site-footer ul.social {
    width: 200px;
    height: 120px;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: relative;
    background: url(../images/socialbg.png) no-repeat center;
  }
  .site-footer ul.social li {
    display: inline-block;
    position: absolute;
  }
  .site-footer ul.social li a {
    width: 60%;
    height: 60%;
    text-align: center;
    line-height: 32px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    color: rgb(16, 248, 16); 
  }
  .site-footer ul.social li.facebook {
    top: 0;
    left: 46px;
  }
  .site-footer ul.social li.facebook a {
    background-color: #07266e;
  }
  

  .site-footer ul.social li.whatsapp {
    top: 46px;
    left: 88px;
  
  }
  .site-footer ul.social li.whatsapp a {
    background-color: #06da70;
  }
  
  .site-footer p {
    display: block;
  }
  /*  Medium devices (desktops, 992px and up)  */
  @media (max-width: 992px) {
    .slider-button {
      display: none;
    }
  }
  /*  Small devices (tablets, 768px and up)  */
  @media (max-width: 768px) {
    .slider-caption {
      display: none;
    }
    .first-section {
      background-position: left;
      margin-top: -20px;
    }
    .contact form {
      margin-top: 60px;
    }
    .product-left {
      color: pink;
    }
  }
  

.dark-mode-button{
  position: absolute;
  top: 50px;
  left: 20px;
  padding: 20px;
  background: white;

}

html.dark-mode{
  filter: invert(100%);
}

html.dark-mode img{
       filter: invert(100%);
}

/* @media (min-width:1024px){
  .contenedor{
    width: 1000px;
  }
} */

/* html.dark-mode section{
  background-color: goldenrod;
} */


