


* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    /* background: -webkit-linear-gradient(to right, #FFCFD2, #FDE4CF); */
	background: linear-gradient(to right, #FFCFD2, #FDE4CF);
    color: black;
    /* position: fixed; */
    top: 0%;
    left: 0%;
    z-index: 100;
}

.contenedor1{
    width: 98%;
    margin: auto;
}

h1{

    float: left;
    font-family: cursive;
}
section{
    width: 100%;
    margin-bottom: 25px;
}

header .contenedor1{
    display: table;
}

.logo-contenedor1{
  float: left;
}

/* menu  */
#menu-bar{
    display: none;
 
    
}
header label{
   float: right;
   font-size: 28px;
   margin: 6px 0;
   cursor: pointer;
}

.menu{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(to right, #FFCFD2, #FDE4CF);
	background: linear-gradient(to right, #FFCFD2, #FDE4CF);
    
    /* background-color: rgba(51,51,51,0.9); */
    transform: all 0.5s;
    transform: translate(-100%);
}

@media (min-width:1024px){
  .menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }

  .menu a{
    border: none;
  }

  header label{
    display: none;
  }
}

.menu a{
    display: block;
    color: goldenrod;
    height: 70px;
    text-decoration: none;
    padding: 20px;
     border-bottom: 1px solid rgba(255, 255,255,0.5);
}

.menu a:hover {
    background-color: rgba(51,51,51,0.3);
}


#menu-bar:checked ~ .menu{
    transform: translate(0%);
}

.logo-contenedor1 img{
      width: 200px;
      margin-top: -72px;
}

.contenedor #menu-bar{
    margin-top: -100px;
}

/* banner  */

#banner{
  margin-top: 20px;
  position: relative;
}

#banner img{
  width: 100%;
  height: 20%;
  border-radius: 4px;
}

#banner .contenedor1{
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: goldenrod;
}
#banner h2{
  font-size: 28px;
}
@media (min-width:480px){
    #banner h2 {
      font-size: 40px;
    }
    #banner a {
      margin-top: 25px;
    }
    @media (min-width:768px){
      #banner {
        height: 600px;
        overflow: hidden;
      }
    }

    #banner img{
      height: auto;
      margin-top: -50px;
      
    }
    
}
@media (min-width:1024px) {
  #banner img{
   margin-top: -200px;
  }
}

body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* carousel  */
/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: black;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}
/* end carousel  */